.devsection-i {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

.devsection-i1 {
    width: 40%;
}

.devsection-i h1 {
    color: #17255A;
    font-family: 'Roboto', sans-serif;
    font-size: 5.5em;
}

.devsection-i2 {
    background: #03CEA4;
    border-radius: 100%;
    overflow: hidden;
}

.devsection-ii {
    padding-left: 110px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #273043;
}

.devsection-ii1 {
    width: 40%;
    padding-bottom: 60px;
}

.devsection-ii2 {
    width: 50%;
    color: #03CEA4;
    font-size: 2.0em;
    font-family: 'Roboto', sans-serif;
}

.devsection-iii {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: #273043;
}

.devsection-iii h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.devsection-iii p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding-bottom: 30px;
}

.devsection-iii2 {
    width: 40%;
}