.prodsection-i {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

.prodsection-i1 {
    width: 40%;
}

.prodsection-i h1 {
    color: #17255A;
    font-family: 'Roboto', sans-serif;
    font-size: 5.5em;
}

.prodsection-i2 {
    background: #F5772F;
    border-radius: 100%;
    overflow: hidden;
}

.prodsection-ii {
    padding-left: 110px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #273043;
}

.prodsection-ii1 {
    width: 40%;
    padding-bottom: 60px;
}

.prodsection-ii2 {
    width: 50%;
    color: #F5772F;
    font-size: 2.0em;
    font-family: 'Roboto', sans-serif;
}

.prodsection-iii {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: #273043;
}

.prodsection-iii h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.prodsection-iii p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding-bottom: 30px;
}

.prodsection-iii2 {
    width: 40%;
}

@media screen and (max-width: 960px) {
    .prodsection-i {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .prodsection-i1 {
        width: 100%;
        order: 2;
    }

    .prodsection-i h1 {
        font-size: 2.8em;
        text-align: center;
    }

    .prodsection-i2 {
        border-radius: 50%;
        text-align: center;
    }

    .prodsection-i2 img{
        width: 300px;
    }

    .prodsection-ii {
        padding-left: 10px;
    }

    .prodsection-ii1 {
        width: 100%;
        text-align: center;

    }

    .prodsection-ii2 {
        width: 100%;
        text-align: center;
        font-size: 1.3em;
    }

    .prodsection-iii1 img {
        width: 100%;
    }

    .prodsection-iii h1{
        font-size: 1.9em;
    }
    

    .prodsection-iii2 {
        width: 100%;
        text-align: center;
    }
}