@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footer-container {
  
}

.footer-special {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3em;
  padding: 100px 0px;
  background: #EEEEEE;
}

.section-seven {
  background: #EAC435;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 300px;

}

.seven-a {
  background: #ffffff;
  display: flex;
  align-items: center;
}

.seven-b {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  background: #EAC435;
  font-family: 'Roboto', sans-serif;
}

.seven-b h1{
  font-size: 2em;
  color: #273043;
}

.seven-b input {
  border: 0px;
  border-bottom: 2px solid #273043;
  padding: 10px 0px;
  background: none;
  font-size: 1em;
  color: #17255A;
}

.seven-b a {
  text-decoration: none;
  color: #17255A;
}

.seven-b button {
  padding: 18px;
  color: #17255A;
  border: 2px solid #17255A;
  border-radius: 9px;
  background: none;
}

.footer-grid {
  display: flex;
  justify-content: space-between; 
}

.footer-grid-item {
  font-size: .84em;
  width: 30%;
}

.footer-grid-item ul {
  list-style: none;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 30px;
} 

.footer-grid-item a {
  color: black;
} 

.footer-grid-item:nth-of-type(2) > p:nth-of-type(2) {
  text-decoration: underline;
} 

.footer-grid-item:nth-of-type(3)  {
  display: flex;
  vertical-align: bottom;
} 

.footer-grid-item:nth-of-type(3) img {
  width: 208px;
  height: 208px;
}

.footer-grid-item:nth-of-type(3) > p{
  padding-top: 20px;
  padding-left: 40px;
}

.footer-grid-item:nth-of-type(3) > p > p{
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding: 0px 0px;
}

.social-icon-link {
  color: #273043;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-foot {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: .88em;
  padding: 30px 0px;
}

.footer-foot span {
  padding-left: 20px;
}

@media screen and (max-width: 960px) {

.section-seven {
  display: flex;
  
  }

.seven-a {
  visibility: hidden;
}

.seven-b {
  flex-direction: column;
  height: 60vh;
  width: 100%;
}

.seven-b h1 {
  padding-left: 0px;
  font-size: 1.5em;
}

.input-container {
  font-size: 1.2em;
}

.seven-b input {
  width: 100vw;

}

.footer-grid {
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.footer-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-grid-item:nth-of-type(2)  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.footer-grid-item:nth-of-type(3)  {
  flex-direction: column;
} 

}
