.appsection-i {
    display: flex;
    justify-content: space-around;
}

.appsection-i1 {
    width: 40%;
}

.appsection-ii {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appsection-ii2 {
    width: 40%;
}